@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --cor-primaria: #07f468;
    --cor-secundaria: #ffffff;
    --cor-fundo-principal: #161616;
    --cor-fundo-secundario: #252525;
    --cor-fundo-terciario: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Anton", sans-serif;
}

body {
    background-color: var(--cor-fundo-principal);
    color: var(--cor-secundaria);
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.navbar {
    width: 15%;
    background: var(--cor-fundo-principal);
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
}

.nav-logo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-logo img {
    width: 140px;
    margin-bottom: 15px;
}

.nav-logo h3 {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.nav-links {
    flex: 1;
    padding: 20px 0;
}

.nav-links a {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #fff;
    translate: 3px;
}

.nav-link-pai {
    margin-left: -5px;
    margin-bottom: -5px;
    font-weight: bold;
    font-size: 20px;
}

.nav-footer {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.btn-sair {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-sair:hover {
    transform: scale(1.05);
}


/*estilização da font awesome*/
.btn-sair i {
    margin-right: 8px;
}

.conteudo-dashboard {
    flex: 1;
    height: 100vh;
}

.container-kpi {
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.card-kpi {
    width: 22%;
    height: 60%;
    margin-left: 0.5%;
    border-radius: 8px;
    background-color: var(--cor-fundo-secundario);
    border-left: 3px solid var(--cor-primaria);
    transition: ease 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.card-kpi p {
    font-size: 0.9rem;
}

.card-kpi:hover {
    transform: scale(1.05);
}

.card-kpi h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.container-grafico {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-grafico-barra {
    width: 47%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--cor-fundo-secundario);
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
}

.card-grafico {
    width: 60%;
    height: 60%;
    position: relative;
    left: 30px;
    top: 20px;
}


.container-percentual {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-percentual {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(22, 22, 22, 0.1);
    border: 2px solid rgb(22, 22, 22, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.icone-lado {
    font-size: 1.8rem;
    color: #07f468;
}

.info-lado {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.texto-lado {
    font-size: 1.2rem;
}

.percentual {
    font-size: 1.5rem;
}

.legenda {
    font-size: 0.9em;
    color: #777;
}

.container-ultimos-jogos {
    width: 100%;
    height: 37vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-jogo {
    height: 85%;
    width: 95.5%;
    border-radius: 8px;
    background-color: var(--cor-fundo-secundario);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.titulo-grafico {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1.3rem;
    display: flex;
    gap: 10px;
}

.icone-grafico {
    font-size: 25px;
    color: var(--cor-primaria);
}

.card-jogo {
    width: 17.5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

.barra-separadora {
    width: 1px;
    height: 80%;
    background-color: #555;
    margin-top: 2%;
}

.card-jogo p {
    font-size: 1.6rem;
}

.venceu {
    color: #07f468
}

.perdeu {
    color: #ff2e2e;
}

.logo-time {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 10px;
}

.placar-time {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}