@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    /* Cores principais */
    --cor-primaria: #07f468;
    --cor-secundaria: #ffffff;

    /* Cores adicionais */
    --cor-fundo-principal: #161616;
    --cor-fundo-secundario: #252525;
    --cor-fundo-terciario: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Anton", sans-serif;
}

body {
    background-color: var(--cor-fundo-principal);
    color: var(--cor-secundaria);
}

/* NAVBAR */
.navbar {
    background-color: var(--cor-fundo-terciario);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Logo */
.navbar-img {
    background-image: url('../assets/TAPGO.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

/* Links */
.navbar-links {
    display: flex;
    gap: 30px;
}

.navbar-link {
    color: var(--cor-secundaria);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: var(--cor-primaria);
}

/* Botões */
.navbar-buttons {
    display: flex;
    gap: 15px;
}

.navbar button {
    background-color: var(--cor-primaria);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar button:hover {
    background-color: #04c952;
    transform: scale(1.05);
}

.navbar a {
    color: var(--cor-fundo-terciario);
    font-size: 16px;
}


.navbar button.cadastrar {
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
    padding: 10px 22px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.navbar button.cadastrar {
    color: var(--cor-secundaria);
}

.navbar button.cadastrar:hover {
    background-color: #04c952;
    transform: scale(1.05);
    color: var(--cor-fundo-terciario);

}


/* Hero */

.container_hero {
    width: 100%;
    height: 89vh;
    background-color: var(--cor-fundo-secundario);
}

.hero_conteudo {
    width: 40%;
    height: 100%;
    background-image: url('../assets/fundoQuadrado.png');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hero_conteudo img{
    width: 200px;
    height: 200px;
    display: flex;
}

.hero_conteudo span{
    width: 70%;
    font-size: 1.3rem;
}

.navbar-buttons {
    display: flex;
    gap: 15px;
}

.hero_conteudo button {
    background-color: var(--cor-primaria);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}

.hero_conteudo button:hover {
    background-color: #04c952;
    transform: scale(1.05);
}


