@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    --cor-primaria: #07f468;
    --cor-secundaria: #ffffff;
    --cor-fundo-principal: #161616;
    --cor-fundo-secundario: #252525;
    --cor-fundo-terciario: #000;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('../assets/background/principal.png');
  background-size: cover;
  box-sizing: border-box;
}

.btn-login-cadastrar {
  cursor: pointer;
  border-style: none;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #07f468;
  width: 100%;
  padding: 10px;
  transition: background-color 0.3s, translate 0.3s;
}

.btn-login-cadastrar:hover {
  background-color: #07a74d;
  translate: 0 -3px;
}



.botao-link {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


label {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  border-radius: 12px;
  border-style: none;
  color: #555;
  height: 50px;
  padding: 10px;
  font-size: 1rem;
}

span {
  color: #07f468
}

.conteudo {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container-cadastro-visivel {
  width: 100%;
  height: 70%;
}

.container-login-visivel {
  width: 100%;
  height: 70%;
}

.container-login,
.container-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  gap: 20px;

}

.span-alternar {
  cursor: pointer;
  color: #555;
  font-size: 0.8rem;
  width: fit-content;
  /*ajusta a largura de acordo com o conteudo*/
  transition: color 0.1s, tranform 0.2s;

}

.span-alternar:hover {
  color: #fff;
  transform: scale(1.03);
}


.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}


#div_erros_login {
  display: none
}


.card_erro {
  display: none;
  width: 50%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 1.4rem;
  color: #fff
}


.btn-sair {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease;
}

.btn-sair:hover {
  translate: 5px;
}

.fas {
  font-size: 25px;
}

.btn-sair-span {
  font-size: 25px;
  margin-left: 5px;
}


.container-btn-sair {
  width: 100%;
  align-self: flex-start;
  margin-top: -120px;
}



#nome_span, #email_span, #senha_span , #confirmar_senha_span{
  color:#ff2e2e;
}


.card-resultado{
  width: 25%;
  height: 200px;
  background-color: var(--cor-fundo-secundario);
  position: absolute;
  border-radius: 8px;
  border-left: var(--cor-primaria) 3px solid;
  top: 10px;
  left: 74%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-resultado span{
  color: #fff;
  font-size: 1.6rem;
}

