@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --cor-primaria: #07f468;
    --cor-secundaria: #ffffff;
    --cor-fundo-principal: #161616;
    --cor-fundo-secundario: #252525;
    --cor-fundo-terciario: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Anton", sans-serif;
}

body {
    background-color: var(--cor-fundo-secundario);
    color: var(--cor-secundaria);
}


/* Container da tela inicial */
.tela-inicial {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.video-intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn-jogar {
    width: 20%;
    padding: 10px;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 1;
    transition: opacity 1s ease-in;
}

.btn-jogar:hover {
    transform: scale(1.05);
}

.btn-sair {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    z-index: 1;
    transition: all 0.3s ease, opacity 1s ease-in;
    position: absolute;
    top: 20px;
    left: 20px;
}

.btn-sair:hover {
    transform: translateX(5px);
}

.fas {
    font-size: 20px;
}

.btn-sair-span {
    font-size: 16px;
    margin-left: 5px;
}

/* tela menu */

.tela-menu {
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url('../assets/background/menu.png');
    background-size: cover;
    background-position: center;
}

.navbar_visivel {
    width: 30%;
    padding: 3% 1.5%;
    margin-left: 5%;
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}


.navbar img {
    width: 250px;
    height: auto;
}

.nav-link {
    display: flex;
    font-size: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.nav-link p {
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0;
}

.nav-link p:hover {
    color: #555;
    transform: translateX(3px);
}

.conteudo-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
    height: 10vh;
    padding: 10px 20px;
}

.info-usuario {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
}

.nome-usuario p,
.nivel-usuario p {
    margin: 0;
    font-size: 1.2rem;
}

.img-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 40px;
}

.img-usuario img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}


/* tela escolha de time */
.tela-time {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.container-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
    border-radius: 10px;
}

.linha-time {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-time {
    background-color: var(--cor-fundo-secundario);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    color: #fff;
    width: 220px;
    box-shadow: 0 4px 10px #161616;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-time:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.logo-time {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card-time h2 {
    color: #07f468;
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 500;
}

.card-time p {
    margin: 4px 0;
    font-size: 0.9rem;
    color: #ccc;
}

.time-titulo {
    color: var(--cor-primaria);
    font-weight: 500;
    font-size: 2.0rem;
}

.tela-jogo {
    position: relative;
    height: 100vh;
    background-image: url('../assets/penalty/inicio.png');
    background-size: cover;
    background-position: center;
}



.placar-canto {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: rgb(22, 22, 22 , 0.8); */
    background-image: url('../assets/background/fundoQuadrado.png');
    padding: 10px 15px;
    border-radius: 8px;
    width: 20%;
    height: 250px;
    box-shadow: 0 2px 4px #ffffff88;
}

.time {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    flex-direction: row-reverse;
    justify-content: center;
}

.usuario {
    border-bottom: solid 3px var(--cor-primaria);
}

/* bolinhas do placar */
.chutes {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.chute {
    width: 23px;
    height: 23px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s ease;
}

/* estados */
.chute.gol {
    background-color: #00ff88;
    border-color: #00ff88;
}

.chute.erro {
    background-color: #ff2e2e;
    border-color: #ff2e2e;
}


.escolher-canto {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.canto,
.defesa {
    width: 100px;
    height: 100px;
    transition: all ease 0.3s;
    cursor: pointer;
    border: 2px solid var(--cor-primaria);
    border-radius: 50px;
    background-color: transparent;
}

.canto:hover {
    transform: scale(1.10);
    background-image: url('../assets/penalty/bola.png');
    border: none;
}

.defesa:hover {
    transform: scale(1.10);
    background-image: url('../assets/penalty/luva.png');
    background-size: contain;
    border: none;
}

.resultado {
    height: 100vh;
    width: 100%;
}

